@CHARSET "ISO-8859-1";

.divclass {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 20px 7px;
  overflow: hidden;
  border: 2px solid rgb(140,140,140);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: normal 100%/normal "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
}


.divpannelclass {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 80%;
  position: relative;
  cursor: pointer;
  padding: 20px 7px;
  overflow: hidden;
  border: 2px solid rgb(140,140,140);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: normal 100%/normal "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
}

/**************************************************************/


.divslide {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 250px;
  position: relative;
  cursor: pointer;
  padding: 20px 7px;
  overflow: hidden;
  border: 2px solid rgb(140,140,140);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: normal 100%/normal "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
}


.botonclass {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 80%;
  height: 5%;
  cursor: pointer;
  margin: 2px;
  padding: 2px;
  border: 2px solid rgb(140,140,140);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: normal 100%/normal "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
}

.botonclass:hover {
  background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0) 0, rgba(0,0,0,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,1) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.botonclass:active {
  background: none;
}




.botonslide {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 250px;
  cursor: pointer;
  padding: 20px;
  border: 2px solid #8c8c8c;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: normal 100%/normal "Times New Roman", Times, serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
  position:absolute;
  overflow: hidden;
  top:0;
  left:0;
}

.botonslide:hover {
  background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0) 0, rgba(0,0,0,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,1) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.botonslide:active {
  background: none;
}

.centradohorizontal{
	
	margin-left: auto;
	margin-right: auto; 
}
.margenizquierdo {
	left:0;
	right:auto;
	float:left;
}

.margenderecho {
	left:auto;
	right:0;
	float:right;
}

.margensuperior {
	top:0;
	float:top;
}

.inputclass {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 20px 7px;
  overflow: hidden;
  border: 2px solid rgb(140,140,140);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: normal 100%/normal "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(0,0,0,0);
  -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
  box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
  width: 70%;
}

.inputclass:hover {
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 27%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 64%, rgba(0,0,0,0) 64%, rgba(0,0,0,0.2) 100%);
  background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 27%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 64%, rgba(0,0,0,0) 64%, rgba(0,0,0,0.2) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 27%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 64%, rgba(0,0,0,0) 64%, rgba(0,0,0,0.2) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.inputclass:focus {
  background: rgb(255,255,255);
}

